<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Sales Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/Buyer.css">

  

</head>
<body>
<!--nav bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Online Sales Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="Buyer.html"><i class="fa fa-fw fa-home"></i>Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#sm1">Electronics</a>
            <a class="dropdown-item" href="#sm4">Groceries</a>
            <a class="dropdown-item" href="#sm5">Property</a>
            <a class="dropdown-item" href="#sm6">Jewellery</a>
            <a class="dropdown-item" href="#sm2">Sports</a>
            <a class="dropdown-item" href="#sm3">Lifestyle</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Today's Deals</a>
          </div>
        </li>
        

        <li>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for products" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
              </form>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fa fa-fw fa-cart-plus"></i>My Cart</button>
      </form>
      &nbsp;
      {% block content %}
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fa fa-fw fa-user"></i>{{username}}</button>
      </form>
      {% endblock %}
      &nbsp;
      <a class="btn btn-outline-dark my-2 my-sm-0" type="submit" href="Signin.html"><i class="fa fa-fw fa-sign-out"></i>Sign Out</a>
    </div>
</nav>
<br><br><br>
<!--Nav bar ends-->


<div id="demo" class="carousel slide" data-ride="carousel">


    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    
    <div class="carousel-inner text-center">
      <div class="carousel-item active">
        <img src="images/c1_.jpg" alt="Los Angeles" width="50%" height="300">
        <div class="carousel-caption">
            <h2>Great Deal</h2>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/c2_.jpg" alt="Chicago" width="900" height="300">
        <div class="carousel-caption">
            <h2>Great Deal</h2>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/c3_.jpg" alt="New York" width="900" height="300">
        <div class="carousel-caption">
            <h2>Great Deal</h2>
        </div>
      </div>
    </div>
    
    
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div>
<!--carousel ends-->
  <br>

<h1 class="text-white text-center"><div class="btn btn-outline-light"><h1>Top Offers</h1></div></h1><br>

<!--scrollmenu1-->
<div id = "sm1" class="scrollmenu bg-secondary">
    <h3 class="card-header text-white" width="100%">Electronics</h3>
    <div class="row flex-row flex-nowrap">
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p2.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p1.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
    </div>
</div>

<!--scrollmenu2-->
<div id = "sm2" class="scrollmenu sm2 bg-info">
    <h3 class="card-header text-white">Sports</h3>
    <div class="row flex-row flex-nowrap">
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p2.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p1.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
    </div>
</div>

<!--scrollmenu3-->
<div id = "sm3" class="scrollmenu sm3 bg-danger">
    <h3 class="card-header text-white">Lifestyle</h3>
    <div class="row flex-row flex-nowrap">
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p2.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p1.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
    </div>
</div>

<!--scrollmenu4-->
<div id = "sm4" class="scrollmenu sm4 bg-success">
    <h3 class="card-header text-white">Groceries</h3>
    <div class="row flex-row flex-nowrap">
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p2.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p1.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
    </div>
</div>
  
<!--scrollmenu5-->
<div id = "sm5" class="scrollmenu sm5 bg-primary">
    <h3 class="card-header text-white">Property</h3>
    <div class="row flex-row flex-nowrap">
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p2.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p1.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
    </div>
</div>

<!--scrollmenu6-->
<div id = "sm6" class="scrollmenu sm6 bg-warning">
    <h3 class="card-header text-white">Jewellery</h3>
    <div class="row flex-row flex-nowrap">
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p2.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p1.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p5.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p4.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
        <div class="col-3">
            <div class="card" style="width: 30rem;">
                <img src="images/p3.jpg" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h4>Tailored Jeans</h4>
                    <p class="price">$19.99</p>
                    <p>Some text about the jeans..</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
              <br>
        </div>
    </div>
</div>

  
        
  
  
      </div>
    </div>
  </div>
  
  
  

</body>
</html>
