<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Sales Portal</title>
  <link rel = "icon" href = 
"https://res.cloudinary.com/dr9bqxbvl/image/upload/v1617621518/shop8_1_qkichg.png" 
        type = "image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="LOGO.jpg" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/static/Register.css" rel="stylesheet">
  
        <script>
            $(function () {
                // INITIALIZE DATEPICKER PLUGIN
                $('.datepicker').datepicker({
                    clearBtn: true,
                    format: "dd/mm/yyyy"
                });


                // FOR DEMO PURPOSE
                $('#reservationDate').on('change', function () {
                    var pickedDate = $('input').val();
                    $('#pickedDate').html(pickedDate);
                });
                });
        </script>
    </head>

    <body class="d-flex h-100  text-white bg-dark">
    
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
              <img src="https://res.cloudinary.com/dr9bqxbvl/image/upload/v1617621518/shop8_1_qkichg.png" width="45">
            </header>

            <main class="px-5 text-center">
                <h1 class="h3 mb-3 fw-normal">Register</h1>

            <form method='post'>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Name</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="name" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Email</span>
                    </div>
                    <input type="text" class="form-control" placeholder="osp@gmail.com" aria-label="email" aria-describedby="basic-addon1" name="email" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Mobile</span>
                    </div>
                    <input type="text" class="form-control" placeholder="1234567890" aria-label="mobile" aria-describedby="basic-addon1" name="mobile_number" required>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Address</span>
                    </div>
                    <textarea class="form-control" placeholder="123 Main Street, New York, NY 10030" aria-label="With textarea"  name="address" required></textarea>
                  </div>
                <br/>

                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Gender</span>
                    </div><select class="custom-select" id="inputGroupSelect01" name="gender">
                        <option selected>Choose...</option>
                        <option value="Male">Male</option>   
                        <option value="Female">Female</option>                
                    </select>
                  </div>
                <br/>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Date of Birth</span>
                    </div>
                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" aria-label="mobile" aria-describedby="basic-addon1"  name="DOB" required>
                </div>
                <p class="lead">
                  <input class="btn btn-lg btn-secondary fw-bold border-white bg-white" type="submit" value="Register" style="color:rgba(0, 0, 0, 0.75);">
                </p>
            </form>
                
                
                      

                
                <p class="text-center">Already registered? <a href="/manager/login">Sign in</a></p>
            </main>
            
            <div class="mt-auto text-white-50 text-center">
                <p>&copy; 2021 All rights reserved</p>
            </div>
        </div>
                
    </body>
</html>