<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="LOGO.jpg" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href={{url_for('static', filename='style-starter.css')}}>
  <link rel="stylesheet" href={{url_for('static', filename='MyAccount.css')}}>
  
  
  <!------ Include the above in your HEAD tag ---------->

</head>
<body class="bg-light">
 <!--nav bar-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Online Sales Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href={{url_for('buyer.BHome', username = userdata['username'], session = session)}}><i class="fa fa-fw fa-home"></i>Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      
      <a class="btn btn-outline-dark my-2 my-sm-0" type="submit" href={{url_for('buyer.ShoppingCart', username = userdata['username'], session = session)}}><i class="fa fa-fw fa-cart-plus"></i>My Cart</a>
      &nbsp;
      <a class="btn btn-outline-dark my-2 my-sm-0" type="submit" href="/login"><i class="fa fa-fw fa-sign-out"></i>Sign Out</a>
    </div>
</nav>
<br><br><br>
<!--Nav bar ends-->



<div class="container">
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{userdata['name']}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Email:</td>
                        <td>{{userdata['email']}}</td>
                      </tr>
                      <tr>
                        <td>Mobile: </td>
                        <td>{{userdata['telephone']}}</td>
                      </tr>
                      <tr>
                        <td>Address:</td>
                        <td>{{userdata['address']}}</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>City:</td>
                        <td>{{userdata['city']}}</td>
                      </tr>
                        <tr>
                        <td>State:</td>
                        <td>{{userdata['state']}}</td>
                      </tr>
                      <tr>
                        <td>Country: </td>
                        <td>India</td>
                      </tr>                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>            
          </div>
        </div>
    
    <div class="col-md-6">
        <div class="product-details mr-2">
            <div class="d-flex flex-row align-items-center"><i class="fa fa-long-arrow-left"></i><span class="ml-2"><a href={{url_for('buyer.BHome', username = userdata['username'], session = session)}}>Continue Shopping</a></span></div>
            <hr>
            <h6 class="mb-0">Order History</h6>
            <div class="d-flex justify-content-between"><span>You have {{history|length}} items in your cart</span>
              {% if history|length>0 %}
                <div class="d-flex flex-row align-items-center"><span class="text-black-50">Status &nbsp; &nbsp;</span></div>
                {% for item in history %}
                  <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded"></div>
                    <div class="d-flex flex-row"><img class="rounded" src={{item['item']['image']}} width="40">
                        <div class="ml-2"><span class="font-weight-bold d-block">{{item['item']['name']}}</span><span class="spec">{{item['item']['info']}}</span></div>
                    </div>
                    <div class="d-flex flex-row align-items-center"><span class="d-block ml-5 font-weight-bold"><em>{{item['status']}}</em></span></div>
                {% endfor %}
                </div>  
              {% endif %}
        </div>
    </div>
</div>
</div>